
$lightgreen:#F0F2ED;
$darkgreen:#181C10;
$lightolivegreen:rgb(139,158,112);
$darkolivegreen:#43582A;
// $lightolivegreen:#758963;
$mediumolivegreen:#5E6249;
$lightgreenishgrey:#BDB5A4;
$mediumbrown:#B36D4B;
$white:#fff;
$black:#000;
