@import "../../Color/basicColor";
@import "~react-pro-sidebar/dist/scss/styles.scss";

.navbar {
    background-color: $lightolivegreen;
    display: flex;
    flex-direction: row;
    padding: 20px 50px;
    gap: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    * {
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__logo-name {
        color: $white;
        font-size: large;
        font-weight: bold;
        align-self: center;
    }

    &__side-navbar {
        margin-left: auto;
        display: none;
    }

    &__nav-links {
        margin-left: auto;
        justify-content: right;
        font-size: small;
        font-weight: 500;
        max-width: 800px;
        min-width: 400px;

        * {
            color: $white;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 30px;
            justify-content: right;
        }
    }
    &__login-button {
        align-self: center;

        &--round-button {
            color: $white;
            cursor: pointer;
            background-color: $darkgreen;
            border: none;
            border-radius: 30px;
            padding: 8px 25px 6px;
            &:hover {
                background-color: rgba($color: $darkgreen, $alpha: 0.6);
            }
        }
    }
}

@media only screen and (max-width: 770px) {
    .navbar {
        &__side-navbar {
            display: flex;
        }

        &__nav-links {
            display: none;
        }
        &__login-button{
            display: none;
        }
    }
}
